{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["@babel/transform-runtime"],
    ["@babel/plugin-proposal-class-properties"],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "models": "./src/models",
          "services": "./src/services",
          "utils": "./src/utils"
        }
      }
    ]
  ]
}
